/*-----------------------------*/
/*********************************BASIC SETUP**********************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    color: black;
    font-family: 'Lato','Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.row{
    max-width:1140px;
    margin: 0 auto;
}
section{
    padding: 80px 0;
}
.box{
    padding: 1%;
}
.pic{
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}


/*************************************************HEADER*************************************************/

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.800),rgba(0, 0, 0, 0.800)),url(img/front.jpg);
    background-size: cover,cover;
    background-position: center;
    height: 100vh;
}
.front-text-box{
    position: absolute;
    width: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.name{
    position: absolute;
    width: max-content;
    top: 4%;
    left: 15%;
}
.logo{
    height: 50px;
    width: 80px;
    float: left;
    margin-top: 15px;
    margin-left: 0px;
    
}
/****************MAIN NAV****************************/
.main-nav{
    float:right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li{
    display: inline-block;
    margin-left: 30px; 
    margin-right: 0px;
}
.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 3px solid #8e44ad;
}
/*****************************STICKY NAV******************************/
.sticky{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background-color: rgba(255,255,255,0.98);

}
.sticky .name h3{
    color: #555;
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding: 10px 0;
    color: #555;
}

/***********************************Heading***********************************************/
h1{
    margin: 0;
    color:#fff;
    font-size: 240%;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 4px;
}
h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
h3{
    margin: 0;
    color:#fff;
    font-size: 140%;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 0px;
    /*word-spacing: 4px;*/

}
h4{
    font-size: 100%;
    margin-bottom: 15px;
    font-weight: 300;
    text-transform: uppercase;
}
h2:after{
    display: block;
    height: 2px;
    background-color: #8e44ad;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    /*margin-bottom: 20px;*/
}
/******************************paragraphs**************************/
.section-features{
    background-color: rgb(244, 244, 244);
}
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 40px;
}
.box p{
    font-size: 90%;
    line-height: 145%;
}
/***********************BUTTON*****************************************/
.btn:link,
.btn:visited,
input[type=submit]{
    display: inline block;
    padding: 10px 30px;
    font-weight: 300px;
    text-decoration: none;
    transition: background-color 0.2s;
}
.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #8e44ad;
    border: 1px solid #8e44ad;
    color: #fff;
    margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #8e44ad;
    color: #8e44ad;
}
.btn:hover,
.btn:active{
    background-color: #703688;
}
.btn-full:hover,
.btn-full:active,
input[type=submit]{
    border: 1px solid #703688;
}
.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #703688 ;
    color: #fff;
}












/*******************HOW IT HELPS****************************************/
/*.section-steps{
    background-color: rgb(244, 244, 244);
}*/
.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}
.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}
.app-screen{
    width: 50%;
    margin-left: 20px;
    float: right;
    margin-right: 80px;
}
.work-step{
    margin-bottom: 50px;
}
.work-step div{
    color: #8e44ad;
    border: 2px solid #8e44ad;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}
/***********************SIGN UP SECTION********************/

.section-plans{
    background-color: rgb(244, 244, 244);
}
.plan-box{
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefef;
    background-color: #fff;

}
.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}
.plan-box div:first-child{
    background-color: #fcfcfc;
}
.plan-box div:last-child{
    text-align: center;
}
.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    color: #8e44ad;
    font-weight: 100%;
}
.plan-price-month{
    font-size: 80%;
}
.plan-box ul{
    list-style: none;
}
.plan-box ul li{
    padding: 5px 0;
}
/*.plan-box ul li i{
    font-size: 100%;
}


/************************CONTACT FORM**********************/
/*.section-form{
    background-color: rgb(244, 244, 244);
}*/
.contact-form{
    width: 60%;
    margin: 0 auto;
    
}
input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
}
textarea{
    height: 100px;
}
input[type=checkbox],{
    margin: 10px 5px 10px 0;
}

*:focus{outline: none;}







/****************************FOOTER********************************/
footer{
    background-color: #333;
    padding: 50px;
}
.footer-nav{
    list-style: none;
    float: left;
}
.social-links{
    list-style: none;
    float: right;
}
.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
}
.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color:#888;
    transition: color 0.2s;
}
.social-links li a:link,
.social-links li a:visited{
    font-size: 160%;
}
.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active{
    color: #ddd;
}
footer p{
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top: 20px;
}
